<head>
  <title>RoloDuck</title>
  {% include 'common/header-imports.html' %}
</head>
<body>
{% include 'common/navbar.html' %}
<div class="container">
  {% include 'common/flash_messages.html' %}

  <ol class="breadcrumb">
    <span> <strong>{{ user.company.companyName }}</strong> <span class="spacer40"></span></span>
    <li class="active">Projects</li>
  </ol>

  <h1 style="margin-bottom:20px"> All Projects </h1>

  <nav class="navbar navbar-default">
    <span class="navbar-jump">Jump to:</span>
    <div class="btn-group jump-dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Select Project
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {% for each_project in projects %}
          <li>
            <a href="/project/" onclick="location.href=this.href+ '{{each_project._id}}';return false;">
              {{each_project.project_name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <a href="/project/create"><button class="btn btn-primary navbar-btn navbar-right add-button">+ Add New Project</button></a>
  </nav>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Partners</th>
        <th>Contacts</th>
        <th>Created <b class="caret"></b></th>
      </tr>      
    </thead>
    <tbody>
      {% for each_project in projects %}
        <tr>
          <td>
            <a href="/project/" onclick="location.href=this.href+ '{{each_project._id}}';return false;">
              {{each_project.project_name}}
            </a>
          </td>
          <td><a href="#">4 Partners</a></td>
          <td><a href="#">10 Contacts</a></td>
          <td>1 day ago</td>
        </tr>
      {% endfor %}
  </table>

  <div>
    <ul class="pagination pull-right">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2 <span class="sr-only">page 2</span></a></li>
      <li><a href="#">3 <span class="sr-only">page 3</span></a></li>
      <li><a href="#">4 <span class="sr-only">page 4</span></a></li>
      <li><a href="#">&raquo;<span class="sr-only">next page</span></a></li>
    </ul>
    <div style="clear:both;"></div>
   </div> 
  {% include 'common/footer.html' %}
</div>    
</body>
</html>