<head>
  <title>RoloDuck</title>
  {% include 'common/header-imports.html' %}
</head>
<body>
{% include 'common/navbar.html' %}
<div class="container">
  <div class="jumbotron">
    <table class="table table-bordered">
        <tr>
          <th>Object</th>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Role</th>
          <th>Hash</th>
        </tr>
        <tr>
          {% for user in userlist %}
            <td>USER: </td>
            <td>{{user['name']}}</td>
            <td>{{user['email']}}</td>
            <td>{{user['password']}}</td>
            <td>{{user['role']}}</td>
            <td>{{user['hash']}}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
  {% include 'common/footer.html' %}
</div>    
</body>
</html>