<head>
    <title>RoloDuck</title>
    {% include 'common/header-imports.html' %}
</head>
<body>
{% include 'common/navbar.html' %}
<div class="container">
    <div class="panel-body">
        <div class="jumbotron">
            <h1>Stop wasting your time!</h1>
            <div>
                <button type="button" class="btn btn-primary btn-lg">Learn More</button>
                <button type="button" class="btn btn-success btn-lg">Get Started</button>
            </div>
            <a href="/deleteUsers">Delete all users</a>

            {% for user in userlist %}
                <p>'{{user.name}}' has email {{user.email}}</p>
            {% endfor %}
        </div>
    </div>
</div>    
</body>
<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 RoloDuck, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</html>
