<head>
    <title>RoloDuck</title>
    <!-- Less --!>
    <script type="text/javascript" src="/static/css/less.js"></script>
    <!-- jQuery --!>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <!-- Bootstrap --!>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <!-- Bootstrap Styles --!>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <img src="/static/img/duck.jpg"><h1>Hello</h1>
    <form action="/" method="POST">
       <input type="text" name="username" id="username" placeholder="Name">
       <input type="text" name="useremail" id="useremail" placeholder="Email Address">
       <input type="submit" value="Sign-up Today" class="btn btn-info btn-lg">
    </form>
    <a href="/deleteUsers">Delete all users</a>

    {% for user in userlist %}
        <p>'{{user.name}}' has email {{user.email}}</p>
    {% endfor %}
</div>    
</body>

</html>
