<head>
  <title>RoloDuck</title>
  {% include 'common/header-imports.html' %}
</head>
<body>
{% include 'common/navbar.html' %}
<div class="container">
  <div class="jumbotron">
    <h1 class="headline">Stop wasting your time!</h1>
    <div id="slider" class="pull-right">
      <img class="slider" src="/static/img/Roloduck_Product-screenshot_1.png" />
      <ul id="slider-nav">
        <li id="slider-1"><img src="/static/img/slider-dot-active.png" /></li>
        <li id="slider-2"><a onclick="slider_change(2)"><img src="/static/img/slider-dot.png" /></a></li>
        <li id="slider-3"><a onclick="slider_change(3)"><img src="/static/img/slider-dot.png" /></a></li>
      </ul>
    </div>
    <h3 class="subheadline">Contact lists get messy</h3>
    <p class="short-pitch">
      RoloDuck make it easy to manage and share contacts across teams.<br />
      Keep all your information in one place and control who sees what.
    </p>
    <div>
      <button type="button" class="btn btn-primary btn-lg">Learn More</button>
      <button type="button" class="btn btn-success btn-lg">Get Started</button>
    </div>

    {% for user in userlist %}
    <p>{{user.firstname}} {{user.lastname}} has email {{user.useremail}}</p>
    {% endfor %}
  </div>
  {% include 'common/footer.html' %}
</div>    
</body>


</html>
