<head>
    <title>RoloDuck</title>
    {% include 'common/header-imports.html' %}
</head>
<body>
    {% include 'common/navbar.html' %}
    <div class="container">
        <form action="/login" method="POST" role="form">
            <div class="form-group" >
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control" name="useremail" id="useremail" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control" name="userpassword" id="userpassword" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
                <input type="checkbox"><span style="color:#fff;"> Remember me</span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary signin-button">Sign in</button>
        </form>
    </div>
    {% include 'common/footer.html' %}
</body>
</html>