<head>
  <title>RoloDuck</title>
  {% include 'common/header-imports.html' %}
</head>
<body>
{% include 'common/navbar.html' %}
<div class="container">
  {% include 'common/flash_messages.html' %}
  <ol class="breadcrumb">
    <span> <strong>{{ user.company.companyName }}</strong> <span class="spacer40"></span></span>
    <li class="active">Projects</li>
  </ol>

  <nav class="navbar navbar-default">
    <span class="navbar-jump">Jump to:</span>
    <div class="btn-group jump-dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Select Project
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- This is all sample data.  Final implementation is to loop through ALL Projects results -->
        <li><a href="#">My Awesome Project</a></li>
        <li><a href="#">Another Cool Project</a></li>
        <li><a href="#">Some Other Project</a></li>
        <li><a href="#">Frozen (AMC/Dolby)</a></li>
        <li><a href="#">The Wind Rises</a></li>
        <li><a href="#">Guardians of the Galaxy</a></li>
        <li><a href="#">Wreck it Ralph</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Home Entertainment Campaign</a></li>
        <li><a href="#">Something Else</a></li>
      </ul>
    </div>
    <button class="btn btn-primary navbar-btn navbar-right add-button">+ Add New Project</button>
  </nav>

  <!-- This is all sample data.  Final implementation is to loop through paginated Projects results -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Partners</th>
        <th>Contacts</th>
        <th>Created <b class="caret"></b></th>
      </tr>      
    </thead>
    <tbody>
      <tr>
        <td><a href="#">My Awesome Project</a></td>
        <td><a href="#">4 Partners</a></td>
        <td><a href="#">10 Contacts</a></td>
        <td>1 day ago</td>
      </tr>
      <tr>
        <td><a href="#">Another Cool Project</a></td>
        <td><a href="#">5 Partners</a></td>
        <td><a href="#">15 Contacts</a></td>
        <td>5 days ago</td>
      </tr>
      <tr>
        <td><a href="#">Some Other Project</a></td>
        <td><a href="#">10 Partners</a></td>
        <td><a href="#">40 Contacts</a></td>
        <td>2 weeks ago</td>
      </tr>
      <tr>
        <td><a href="#">Frozen (AMC/Dolby)</a></td>
        <td><a href="#">6 Partners</a></td>
        <td><a href="#">25 Contacts</a></td>
        <td>3 weeks ago</td>
      </tr>
      <tr>
        <td><a href="#">The Wind Rises</a></td>
        <td><a href="#">8 Partners</a></td>
        <td><a href="#">42 Contacts</a></td>
        <td>1 month ago</td>
      </tr>
      <tr>
        <td><a href="#">Guardians of the Galaxy</a></td>
        <td><a href="#">10 Partners</a></td>
        <td><a href="#">22 Contacts</a></td>
        <td>1 month ago</td>
      </tr>
      <tr>
        <td><a href="#">Wreck it Ralph</a></td>
        <td><a href="#">12 Partners</a></td>
        <td><a href="#">31 Contacts</a></td>
        <td>2 months ago</td>
      </tr>
      <tr>
        <td><a href="#">Lorem Ipsum</a></td>
        <td><a href="#">14 Partners</a></td>
        <td><a href="#">14 Contacts</a></td>
        <td>3 months ago</td>
      </tr>
      <tr>
        <td><a href="#">Home Entertainment Campaign</a></td>
        <td><a href="#">27 Partners</a></td>
        <td><a href="#">105 Contacts</a></td>
        <td>6 months ago</td>
      </tr>
      <tr>
        <td><a href="#">Something Else</a></td>
        <td><a href="#">11 Partners</a></td>
        <td><a href="#">69 Contacts</a></td>
        <td>1 year ago</td>
      </tr>
  </table>
  <div>
    <ul class="pagination pull-right">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2 <span class="sr-only">page 2</span></a></li>
      <li><a href="#">3 <span class="sr-only">page 3</span></a></li>
      <li><a href="#">4 <span class="sr-only">page 4</span></a></li>
      <li><a href="#">&raquo;<span class="sr-only">next page</span></a></li>
    </ul>
    <div style="clear:both;"></div>
   </div> 
  {% include 'common/footer.html' %}
</div>    
</body>
</html>