/* Main style sheet for Roloduck */

/* Navbar */
.navbar {
  height:52px;
  outline: none;
}

.navbar-brand {
  margin-top: 10px;
  background: url('/static/img/Roloduck_logo.png') no-repeat;
  height: 42px;
  width: 211px;
}

.navbar-brand:hover {
  margin-top: 2px;
  background: url('/static/img/Roloduck_logo-hover.png') no-repeat;
  height: 44px;
}

nav .form-group, nav .checkbox, .signin-button {
  margin-left: 5px;
}

.navbar-jump {
  float:left;
  padding:15px 15px;
  font-size:18px;
  line-height:20px
}

.jump-dropdown {
  margin-top: 8px;
}

.add-button {
  margin-right: 10px;
}

/* Typography, etc. */



/* Jumbotron */

#slider {
  margin-top: 20px;
  text-align: center;
  width:396;
}

#slider-nav {
  list-style-type: none;
}

#slider-nav li {
  display: inline;
}

#slider-nav li a {
  cursor: pointer;
}

.subheadline {
  margin-top: 30px;
  font-size: 22px;
  font-weight: normal
}

p.short-pitch {
  margin: 30px 0;
  font-size: 20px;
  line-height: 1.6
}

/* Flash */
ul.flashes {
  list-style-type: none;
  padding: 0;
}

.alert-message{
  color:#8a6d3b;
  background-color:#fcf8e3;
  border-color:#faebcc;
}

/* Login */
.form-container {
  margin-top: 40px;
  margin-left:270px;
  margin-bottom: 40px;
  width:600px;
}

.checkbox-vertical {
  margin: 20px 0;
}

.spacer {
  margin-left: 10px;
}

.spacer20 {
  margin-left: 20px;
}

.spacer40 {
  margin-left: 40px;
}

/* Footer */
footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 40px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
  margin:0 0 0 15px;
}

footer ul li a {
  cursor: pointer;
}