<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header navbar-left">
        <a class="navbar-brand" href="/" style="float: left;">RoloDuck</a>
        <img src="/static/img/duck.jpg" style="max-height: 50px; max-width: 50px; float: right;"/>
    </div>
    <navbar-form class="navbar-right" action="/" method="POST">
        <input type="text" name="useremail" id="useremail" placeholder="Email Address">
        <input type="text" name="userpassword" id="userpassword" placeholder="Password">
        <input type="checkbox" value="Remember me">
        <input type="submit" value="Sign in" class="btn btn-success navbar-btn">
    </navbar-form>
</nav>